@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Background image with transparency */
  background-image: url('./assets/bg1.jpg');
  background-color: rgba(255, 255, 255, 0.4); /* White color with transparency */
  background-blend-mode: overlay; /* Blend mode for transparency */
  background-size: cover;
  height: 80vh; /* Make the body take up the full height of the viewport */
}
